<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1><%= message %></h1>
  <a href="http://localhost:1234">Back to Home</a>
</body>
</html>